# CI config for the esp_hosted coprocessor firmware.
#
CONFIG_IDF_TARGET="esp32c6"
CONFIG_ESPTOOLPY_FLASHSIZE_4MB=y
CONFIG_PARTITION_TABLE_CUSTOM=y
CONFIG_PARTITION_TABLE_CUSTOM_FILENAME="partitions_eh_cp_ota_4m.csv"
CONFIG_PARTITION_TABLE_FILENAME="partitions_eh_cp_ota_4m.csv"
CONFIG_EH_TRANSPORT_CP_SDIO_PIN_CMD=18
CONFIG_EH_TRANSPORT_CP_SDIO_PIN_CLK=19
CONFIG_EH_TRANSPORT_CP_SDIO_PIN_D0=20
CONFIG_EH_TRANSPORT_CP_SDIO_PIN_D1=21
CONFIG_EH_TRANSPORT_CP_SDIO_PIN_D2=22
CONFIG_EH_TRANSPORT_CP_SDIO_PIN_D3=23
CONFIG_ESP_CACHE_MALLOC=y
CONFIG_ESP_PKT_STATS=y
CONFIG_BT_ENABLED=y
CONFIG_BT_CONTROLLER_ONLY=y
CONFIG_BT_LE_SLEEP_ENABLE=y
CONFIG_FREERTOS_HZ=1000
