config ESP_WIFI_REMOTE_IDF_SPECIFIC_ADDED
    bool
    default y

rsource "./Kconfig.slave_select.in"
rsource "./Kconfig.soc_wifi_caps.in"

menu "Wi-Fi configuration"
    rsource "./Kconfig.wifi.in"
endmenu
