CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_ESP_WIFI_SSID="local_mosquitto"
CONFIG_ESP_WIFI_PASSWORD="local_mosquitto_password"
CONFIG_ESP_WIFI_REMOTE_LIBRARY_EPPP=n
CONFIG_ESP_WIFI_REMOTE_LIBRARY_HOSTED=y
CONFIG_SLAVE_IDF_TARGET_ESP32C6=y
CONFIG_ESP_HOSTED_GPIO_SLAVE_RESET_SLAVE=9
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_CMD_SLOT_1=52
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_CLK_SLOT_1=51
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D0_SLOT_1=50
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D1_4BIT_BUS_SLOT_1=49
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D2_4BIT_BUS_SLOT_1=48
CONFIG_ESP_HOSTED_PRIV_SDIO_PIN_D3_4BIT_BUS_SLOT_1=47
CONFIG_ESP_HOSTED_SDIO_GPIO_RESET_SLAVE=9
