CONFIG_IDF_TARGET="esp32p4"
CONFIG_ESP32P4_SELECTS_REV_LESS_V3=y
CONFIG_ESP32P4_REV_MIN_100=y
CONFIG_ESP_WIFI_SSID="local_mosquitto"
CONFIG_ESP_WIFI_PASSWORD="local_mosquitto_password"
CONFIG_WIFI_RMT_OVER_EPPP_UART_TX_PIN=47
CONFIG_WIFI_RMT_OVER_EPPP_UART_RX_PIN=48
CONFIG_WIFI_RMT_OVER_EPPP_UNSECURE=y
