menu "Wi-Fi Remote"
    config ESP_WIFI_REMOTE_ENABLED
        bool
        default y if !ESP_HOST_WIFI_ENABLED
        default n if ESP_HOST_WIFI_ENABLED

    if ESP_WIFI_REMOTE_ENABLED
        # Resolve version-specific includes via generated fragment located in the build directory.
        config ESP_IDF_VERSION
            string
            default "$ESP_IDF_VERSION"
        if ESP_IDF_VERSION>"5.3"
            orsource "./Kconfig.$IDF_VERSION.in"
        endif
        if ESP_IDF_VERSION<="5.4"
            rsource "./idf_v$ESP_IDF_VERSION/Kconfig.in"
        endif

        rsource "./Kconfig.rpc.in"

        config ESP_WIFI_REMOTE_EAP_ENABLED
            bool "Enable EAP client remote API"
            default y
            depends on WIFI_RMT_ENTERPRISE_SUPPORT
            help
                When enabled, the EAP client remote API will be available.
                This allows remote control of EAP authentication functions.
    endif
    if !ESP_WIFI_REMOTE_ENABLED

        # This helper variables is only used to indicate that Wi-Fi remote if OFF
        # and explains why
        config ESP_WIFI_REMOTE_IS_DISABLED
            bool "Wi-Fi Remote is disabled (Host Wi-Fi is ON)"
            default y
            help
                Wi-Fi Remote is disabled because ESP_HOST_WIFI_ENABLED is ON.
                These options are mutually exclusive.
                Disable ESP_HOST_WIFI_ENABLED to use ESP_WIFI_REMOTE.

        config ESP_WIFI_REMOTE_FORCE_DISABLED
            bool
            default y
            select ESP_WIFI_REMOTE_IS_DISABLED
    endif

endmenu # Wi-Fi Remote
