config ESP_WIFI_REMOTE_IDF_SPECIFIC_ADDED
    bool
    default y

rsource "./idf_v5.3/Kconfig.slave_select.in"
rsource "./idf_v5.3/Kconfig.soc_wifi_caps.in"

menu "Wi-Fi configuration"
    rsource "./idf_v5.3/Kconfig.wifi.in"
endmenu
