CONFIG_IDF_TARGET="esp32c6"
CONFIG_EPPP_LINK_DEVICE_SDIO=y
CONFIG_WIFI_RMT_OVER_EPPP_SDIO_CMD_PIN=18
CONFIG_WIFI_RMT_OVER_EPPP_SDIO_CLK_PIN=19
CONFIG_WIFI_RMT_OVER_EPPP_SDIO_D0_PIN=20
CONFIG_WIFI_RMT_OVER_EPPP_SDIO_D1_PIN=21
CONFIG_WIFI_RMT_OVER_EPPP_SDIO_D2_PIN=22
CONFIG_WIFI_RMT_OVER_EPPP_SDIO_D3_PIN=23
CONFIG_PARTITION_TABLE_SINGLE_APP_LARGE=y
CONFIG_WIFI_RMT_OVER_EPPP_UNSECURE=y
